<mat-toolbar color="primary" class="mat-elevation-z5">
    <span routerLink="/"class="icon"><mat-icon style="height:21px;cursor:pointer;">local_taxi</mat-icon>BookMyRide</span>

    <div class="spacer"></div>

    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/booking">Booking</a>
    <a mat-button routerLink="/feedback">Feedback</a>
    <a mat-raised-button color="accent"routerLink="/login">Logout</a>

</mat-toolbar>
<div class="home">
    <h1>
        Ride Booking Application
    </h1>
    <p>Ride booking application allows travelers to schedule their rides ahead of time. Passengers frequently prefer to plan their journey ahead of time to ensure that they know when their cab will arrive. </p>
    <button routerLink="/booking" class="btn btn-primary">
    BOOK YOUR RIDE
    </button>
</div>
