<mat-toolbar color="primary" class="mat-elevation-z5">
    <span routerLink="/" class="icon"><mat-icon style="height:21px;">local_taxi</mat-icon>BookMyRide</span>

    <div class="spacer"></div>

    <a mat-raised-button color="accent"routerLink="/login">Login</a>
    <a mat-raised-button color="accent"routerLink="/register">Register</a>
</mat-toolbar>
<div class="forgot_password">
    <div class="container">
        <h2 style="color:rgb(99, 99, 224)">Reset your Password</h2>
        <!-- <form class="forgot"#forgotform="ngForm" (ngSubmit)="forgotpassword()"> -->
        <form class="forgot"#forgotform="ngForm">
            <div class="form-group">
                <label for="email" class="form-label">Username/Email</label>
                <input type="text" class="form-control" placeholder="User name / Email" name="email"[(ngModel)]="user.email" required pattern="^[a-z0-9_]+@[a-z]+\.[a-z]{2,3}"#email="ngModel"
                [class.is-invalid]="email.invalid && email.touched">
                <!-- <small class="text-danger"[class.d-none]="email.valid || email.untouched">Email field is required</small> -->
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                  <small class="text-danger" *ngIf="email.errors['required'] ">Email field is required</small>
                  <small class="text-danger"*ngIf="email.errors['pattern'] ">Enter proper Email id</small>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" placeholder="New Password"name="password"[(ngModel)]="user.password" required #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched">
    
                <small class="text-danger"[class.d-none]="password.valid || password.untouched">Password field is required</small>
            </div>
            <div class="form-group">
                <label for="" class="form-label">Confirm password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" id="cpassword" name="cpassword"[(ngModel)]="user.cpassword" required #cpassword="ngModel"
                [class.is-invalid]="cpassword.invalid && cpassword.touched">
                <small class="text-danger"[class.d-none]="cpassword.value==password.value || cpassword.untouched">Password and confirm password must be same.</small>
            </div> -->
            <button [disabled]="forgotform.form.invalid" type="submit" class="btn btn-primary mt-3">
                Send Email
              </button>	
        </form>
    </div>
</div>
