<!-- <app-navbar></app-navbar> -->
<mat-toolbar color="primary" class="mat-elevation-z5">
    <span routerLink="/" class="icon"><mat-icon style="height:21px;">local_taxi</mat-icon>BookMyRide</span>

    <div class="spacer"></div>

    <a mat-raised-button color="accent"routerLink="/login">Login</a>
    <a mat-raised-button color="accent"routerLink="/register">Register</a>
</mat-toolbar>
<div class="landing-page">
    <h1>Welcome to Ride Booking Application!!</h1>
    <p>Ride booking application allows travelers to schedule their rides ahead of time. Passengers frequently prefer to plan their journey ahead of time to ensure that they know when their cab will arrive. It allows you to book your cab ahead of time in order to better manage your schedule for the next meeting or head start</p>
</div>

